# Carga de datos con read_csv

In [82]:
import pandas as pd
import os

In [83]:
mainpath = "/Users/Peter/Documents/GitHub/Machine-Learning-Python/datasets/"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath,fullpath)

NameError: name 'fullpath' is not defined

In [32]:
data = pd.read_csv(fullpath)

NameError: name 'fullpath' is not defined

In [33]:
data.head()

NameError: name 'data' is not defined

# Ejemplos de parametros dentro de la funcion read_csv
read.csv(filepath="/Users/Peter/Documents/GitHub/Machine-Learning-Python/datasets/titanic/titanic3.csv", sep="," , dtype={"ingresos":np.float64,"edad":np.int32}, header = 0,names ={"ingresos","edad"}, skiprows = 12,
        index_col=None, skip_blank_lines=False, na_filter=False)

# TXT separado por comas

In [73]:
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt")

In [74]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [75]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [76]:
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data_cols
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv", header = None, names = data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Cargar datos desde funcion open

In [295]:
data3 = open(mainpath +"/" + "customer-churn-model/Customer Churn Model.txt", "r")

In [296]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [297]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [298]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter +=1
    
print ("El dataSet tiene %d filas y %d columnas" %(counter,n_cols))

El dataSet tiene 3333 filas y 21 columnas

In [299]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

# Lectura y escritura de ficheros

In [300]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Columns.txt"

Separando las comas por tabulaciones o /t y uniendolas

In [301]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.split(",")
            outfile1.write("\t".join(fields))

In [302]:
dataframe4=pd.read_csv(outfile, sep="\t")
dataframe4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Importar datos URL, juegos invierno

In [319]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [320]:
medals_data = pd.read_csv(medals_url)

In [305]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Cargamos los datos con GET desde la web

In [322]:
def downloadFromURL(url, fiename):
    import urllib3

    http = urllib3.PoolManager()
    r = http.request("GET", medals_url)
    r.status
    respuesta = r.data
    #Convierto los datos en string
    str_dato=respuesta.decode("utf-8")

    #Divido string en array de filas
    filas = str_dato.split("\n")

    #Extraigo la 1era linea que sera la cabecera
    colIndice = filas[0].split(",")
    numCols = len(colIndice)
    print("Hay un total de %d " %numCols + "lineas")

    #Generamos Diccionario vacio
    contadorDic= 0
    dicPrinc = {}
    for col in colIndice:
        dicPrinc[col] = []

    #Procesar fila a fila para ir rellenando la informacion en el diccionario
    for fila in filas:
        if(contadorDic > 0):
            #Dividimos string por comas
            valor = fila.strip().split(",")
            #añadimos el valor a la columna
            for i in range(len(colIndice)):
                dicPrinc[colIndice[i]].append(valor[i])
        contadorDic+=1

    print("Nuestro data set tiene %d filas y %d columnas" %(contadorDic,numCols))
    
    return medals_data

In [323]:
df_medallas = pd.DataFrame(dicPrinc)
df_medallas.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [324]:
downloadFromURL(medals_url, "athletes/downloaded_medals")

Hay un total de 8 lineas
Nuestro data set tiene 2312 filas y 8 columnas

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
21,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
23,1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze
24,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze
25,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
26,1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze
27,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
28,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
29,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver
...,...,...,...,...,...,...,...,...
2281,2006,Turin,Skiing,Cross Country S,SWE,Sprint 1.5km,M,Gold
2282,2006,Turin,Skiing,Cross Country S,SWE,Team sprint,M,Gold
2283,2006,Turin,Skiing,Cross Country S,SWE,Team sprint,W,Gold
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze
2286,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
2287,2006,Turin,Curling,Curling,USA,curling,M,Bronze
2288,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze
2289,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver
2291,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
2292,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
2293,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
2294,2006,Turin,Skating,Speed skating,USA,10000m,M,Silver
2295,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
2296,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
2297,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
2298,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
2299,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
2300,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [293]:
import csv
cr = csv.reader(respuesta)

In [206]:
cr

In [207]:
for row in cr:
    print (row)

Error: iterator should return strings, not int (did you open the file in text mode?)

NameError: name 'row' is not defined

## Ficheros XLS y XLSX

In [164]:
mainpath = "/Users/Peter/Documents/GitHub/Machine-Learning-Python/datasets/"
filename = "titanic/titanic3.xls"

In [167]:
titanic2 = pd.read_excel(mainpath +"/"+ filename, "titanic3")

In [169]:
titanic3 = pd.read_excel(mainpath +"/"+ filename, "titanic3")

In [170]:
titanic3.to_csv(mainpath + "/"+ "/titanic/titanic_custom.csv")

In [172]:
titanic3.to_excel(mainpath + "/"+ "/titanic/titanic_custom.xls")